# Recommender Project

## 1. Data Prep

In [1]:
# import the restaurant ratings data (first tab of spreadsheet)

In [2]:
# view the range of the ratings

In [3]:
# pivot the data to get it into a user-item matrix format (think about how you'd like to deal with the NaN values)

In [4]:
# check the number of rows and columns in the data

## 2. Collaborative Filtering: Recommend Restaurants to a New User

### a. Fit an initial TruncatedSVD model with all the components on centered data

In [5]:
# center the data

In [6]:
# fit a TruncatedSVD model with 127 components

In [7]:
# view the cumulative explained variance ratios

In [8]:
# plot the cumulative explained variance ratios

### b. Update the model to have 50 components

In [9]:
# fit a TruncatedSVD model with 50 components

In [10]:
# view the cumulative explained variance ratios

### c. Introduce a New User

In [11]:
# here's a new user
import numpy as np
import pandas as pd

# create a user-item matrix
restaurant_ratings = pd.read_excel('../Data/Restaurant_Ratings.xlsx')
X = restaurant_ratings.pivot(index='Consumer_ID', columns='Restaurant_Name', values='Overall_Rating').fillna(restaurant_ratings.Overall_Rating.mean())

# create a vector of NaN values
vector_length = X.shape[1]
new_user = np.full(vector_length, np.NaN)

# populate with 2 ratings
ratings = [2, 2]
positions_to_populate = [40, 60]
new_user[positions_to_populate] = ratings

# view as a DataFrame
new_user_df = pd.DataFrame([new_user], columns=X.columns)
new_user_df

Restaurant_Name,Abondance Restaurante Bar,Arrachela Grill,Cabana Huasteca,Cafe Ambar,Cafe Chaires,Cafe Punta Del Cielo,Cafeteria Cenidet,Cafeteria Y Restaurant El Pacifico,Carl's Jr,Carnitas Mata,...,Tacos De Barbacoa Enfrente Del Tec,Tacos De La Estacion,Tacos El Guero,Tacos Los Volcanes,Taqueria El Amigo,Tortas Hawaii,Tortas Locas Hipocampo,Tortas Y Hamburguesas El Gordo,Unicol's Pizza,Vips
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# view only the restaurants that the new user rated
new_user_df.T.dropna()

                    0
Restaurant_Name
KFC               2.0
McDonalds Centro  2.0

In [13]:
# read in the restaurants details (second tab of spreadsheet)
restaurant_details = pd.read_excel('../Data/restaurant_ratings.xlsx', sheet_name=1)
restaurant_details.head()

   Restaurant_ID                       Name    Cuisine   Price Franchise
0       135069.0  Abondance Restaurante Bar        Bar     Low        No
1       135016.0            Arrachela Grill        NaN  Medium        No
2       132754.0            Cabana Huasteca    Mexican  Medium        No
3       132561.0                 Cafe Ambar        NaN     Low        No
4       132572.0               Cafe Chaires  Cafeteria     Low        No

In [14]:
# the new user likes low-priced american chain restaurants
restaurant_details[restaurant_details.Name.isin(new_user_df.T.dropna().index)]

    Restaurant_ID              Name   Cuisine Price Franchise
40       132851.0               KFC  American   Low       Yes
60       132583.0  McDonalds Centro  American   Low       Yes

### d. Recommend Restaurants to the New User

In [15]:
# apply the necessary data prep steps to the user

# fill nan values with the mean rating

# center the data

In [16]:
# transform the user into the latent space

In [17]:
# view the shape of the output

In [18]:
# reconstruct the user-item matrix for the user

In [19]:
# view the shape of the output

In [20]:
# make restaurant recommendations for the new user

In [21]:
# sort the recommendations

In [22]:
# exclude the restaurants the user already rated

In [23]:
# view the new recommended restaurants

In [24]:
# view the restaurant details dataframe

In [25]:
# combine the predicted ratings and restaurant details dataframes

In [26]:
# what are your thoughts on these recommendations?

## 3. Content-Based Filtering: Suggest Similar Restaurants to a Restaurant

### a. Prep the data to contain only numeric values

In [27]:
# turn the cuisine, price and franchise columns of the restaurant details data into numeric columns

# turn cuisine into dummy variables

# turn price into a numeric value

# turn franchise into an indicator

In [28]:
# combine them into a single dataframe

### b. Calculate the cosine similarities between rows

In [29]:
# calculate all the cosine similarities

In [30]:
# find the most similar restuarants to KFC

In [31]:
# find the details of those restaurants

In [32]:
# what are your thoughts on these recommendations?

## 4. Summarize Recommendations

In [33]:
# For the user who likes KFC and McDonalds, what are your top 10 restaurant recommendations?

In [34]:
# What are your thoughts on these recommendations and how could you improve your recommendations?

In [35]:
# For the KFC details page, what are the top 10 other restuarants that you would suggest?

In [36]:
# What are your thoughts on these suggestions and how could you improve your suggestions?